body {min-width:1900px;}
/* detail page */
main {height:fit-content;}
main .location {
    display:flex; justify-content:space-between;
    padding:9px 20px;
}
main .location > span {}
main .location > span a {font-size:0.91rem;}
main .location > span span {font-size:0.91rem;}
main .container {display:flex;}
main .container .left {
    width:50%; display:flex; justify-content:space-between;
}
main .container .left .small {width:60%; display:flex; flex-flow:column nowrap;}
main .container .left .small button {width:100%;}
/* main .container .left .small button:first-child {border:1px solid #000;} */
.active {border:1px solid #000;}
main .container .left .small .imgBtn01 {
    background-image:url(../images/detail/small_01.jpg);
    width:100%; height:33.15%; background-position:center;
    background-size:cover;
}
main .container .left .small .imgBtn02 {
    background-image:url(../images/detail/small_02.jpg);
    width:100%; height:33.15%; background-position:center;
    background-size:cover;
}
main .container .left .small .imgBtn03 {
    background-image:url(../images/detail/small_03.jpg);
    width:100%; height:33.15%; background-position:center;
    background-size:cover;
}
main .container .left .big {overflow:hidden;}
main .container .left .big img {width:100%; object-fit:cover; object-position:center;}
main .container .right {width:50%;}
main .container .right #buyFrm {width:70%; margin:0 auto;}
main .container .right #buyFrm fieldset {}
main .container .right #buyFrm fieldset .title {
    display:flex; justify-content:space-between; border-bottom:1px solid #000;
    padding-bottom:15px;
}
main .container .right #buyFrm fieldset .title h2 {font-size:1.2rem; font-weight:500;}
main .container .right #buyFrm fieldset .buyInfo {}
main .container .right #buyFrm fieldset .buyInfo #opt {
    width:80%; border-right:1px solid #000;
    background:#fff url(../images/main/icon/more.png) no-repeat 97% center;
    font-size:0.938rem; padding:10px 0;
}
main .container .right #buyFrm fieldset .buyInfo #opt option {}
main .container .right #buyFrm fieldset .buyInfo #opt option span {}
main .container .right #buyFrm fieldset .buyInfo #opt option .price {margin-left:100px;}
main .container .right #buyFrm fieldset .buyInfo .numResult {
    width:20%; padding:8px 15px;
}
main .container .right #buyFrm fieldset .buyInfo .numResult #minus {}
main .container .right #buyFrm fieldset .buyInfo .numResult #numCount {width:50px;}
main .container .right #buyFrm fieldset .buyInfo .numResult #plus {}
main .container .right #buyFrm fieldset .buy {
    background-color:#000; border:1px solid #000;
    height:40px; cursor:pointer;
    display:flex; justify-content:center;
}
main .container .right #buyFrm fieldset .buy #buyBtn {color:#fff;}
main .container .right #buyFrm fieldset .subInfoWrap {}
main .container .right #buyFrm fieldset .subInfoWrap .subBox {}
main .container .right #buyFrm fieldset .subInfoWrap .subBox .subName {
    display:flex; justify-content:space-between; align-items:center; padding:10px 10px 10px 0;
    border-bottom:1px solid #000; cursor:pointer;
}
main .container .right #buyFrm fieldset .subInfoWrap .subBox .subName span {font-size:0.9rem;}
main .container .right #buyFrm fieldset .subInfoWrap .subBox .subName span .moreBtn {}
main .container .right #buyFrm fieldset .subInfoWrap .subBox .subContents {
    margin-top:20px; border-bottom:1px solid #000; padding-bottom:10px; display:none;
}
main .container .right #buyFrm fieldset .subInfoWrap .subBox .subContents p {font-size:0.825rem; margin-bottom:10px;}
main .container .right #buyFrm fieldset .subInfoWrap .subBox .listWrap {
    display:grid; display:none;
    grid-template-areas:
    'txt1 txt2' 
    'txt3 txt4';
}
main .container .right #buyFrm fieldset .subInfoWrap .subBox .listWrap .list {margin-bottom:10px;}
main .container .right #buyFrm fieldset .subInfoWrap .subBox .listWrap .list:nth-child(1) {grid-area:txt1;}
main .container .right #buyFrm fieldset .subInfoWrap .subBox .listWrap .list:nth-child(2) {grid-area:txt2;}
main .container .right #buyFrm fieldset .subInfoWrap .subBox .listWrap .list:nth-child(3) {grid-area:txt3;}
main .container .right #buyFrm fieldset .subInfoWrap .subBox .listWrap .list:nth-child(4) {grid-area:txt4;}
main .container .right #buyFrm fieldset .subInfoWrap .subBox .subContents .list img {width:10px;}
main .container .right #buyFrm fieldset .subInfoWrap .subBox .subContents .list span {font-size:0.825rem;}
main .container .right #buyFrm fieldset .subInfoWrap .subBox .subContents .codeInput {
    display:flex; justify-content:space-between; margin-bottom:10px;
}
main .container .right #buyFrm fieldset .subInfoWrap .subBox .subContents .codeInput #code {
    width:49%; background-color:#fff; border:1px solid #000;
    height:40px; padding:10px;
    display:flex; justify-content:center; align-items:center;
}
main .container .right #buyFrm fieldset .subInfoWrap .subBox .subContents .codeInput #viewBtn {
    width:49%; background-color:#000; border:1px solid #000;
    height:40px; cursor:pointer; color:#fff;
    display:flex; justify-content:center; align-items:center;
}
main .container .right #buyFrm fieldset .subInfoWrap .subBox .subContents .codeInfo {line-height:1.3;}
main .container .right #buyFrm fieldset .subInfoWrap .subBox .subContents a {display:flex; align-items:center; margin-bottom:20px;}
main .container .right #buyFrm fieldset .subInfoWrap .subBox .subContents a:last-child {margin-bottom:10px;}
main .container .right #buyFrm fieldset .subInfoWrap .subBox .subContents a img {width:15px; margin-right:10px;}
main .container .right #buyFrm fieldset .subInfoWrap .subBox .subContents a span {font-size:0.825rem;}