/* main */
main {}
/* mainImg 공통 */
main .mainImg {
    display:flex; justify-content:space-between;
    padding:720px 0 0 0;
}
main .mainImg span {}
main .mainImg a {}
/* productWrap 공통 */
main .productWrap {
    display:grid; justify-content:space-between;
    padding:300px 0 0 0;
}
main .productWrap .product {}
main .productWrap .product span {}
main .productWrap .product a {}
/* 첫번째행 이미지 */
main .productTop {
    background:url(../images/main/main_1920.jpg);
    max-width:100%; height:auto;
}
/* 두번째행 이미지 */
main .second {
    grid-template-columns:repeat(4,auto);
    max-width:100%; height:auto;
}
main .second .product:nth-child(1) a {background:url(../images/main/secon_1.jpg);}
main .second .product:nth-child(2) a {background:url(../images/main/secon_2.jpg);}
main .second .product:nth-child(3) a {background:url(../images/main/secon_3.jpg);}
main .second .product:nth-child(4) a {background:url(../images/main/secon_4.jpg);}
/* 세번째행 이미지 */
main .productCenter {
    background:url(../images/main/main_center_1920.jpg);
    max-width:100%; height:auto;
}
/* 네번째행 이미지 */
main .fourth {
    grid-template-columns:repeat(4,auto);
    max-width:100%; height:auto;
}
/* 다섯번째행 이미지 */
main .proudctBottom {
    background:url(../images/main/main_bottom_1920.jpg);
    max-width:100%; height:auto;
}